
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  
a:hover, a:focus{
        text-decoration: none;
    }
    .secondary-bg{
    background-color: #ff6525;
    }
    .secondary-text{
    color:  rgb(255, 101, 37);
    }
    body,html{
    overflow-x: hidden;
    }
    .heading-text{
    color: #213e6e;
    }
    .navbar-brand img{
    height: 40px;
    }
    .background-image{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
    }
    .section{
    padding: 7em 0;
    }
    .content-pad{
        padding: 5em 0;
        
    }
    .content-img{
    height: 100%;
    width: 100%;
    }
    .section .section-title {
        padding: 50px 0px;
    }
    .section .section-title h2{
    font-family: 'montserratbold' ; 
   
    }
    .section .section-title p{
    font-size: 20px; 
    padding: 20px 0px;
    opacity: 0.8;
    }
    .para-text {
        font-size: 23px;
        padding: 30px 0px;
    }
    .box-icon{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        }
          .box-icon i{
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 30px;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        }
    /********************************************************************INTRO SECTION  ******************************************************/
    .intro .banner-content {
    padding: 40px 40px 0px 40px;
    }
    .intro  .banner-content  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    }
    .intro .banner-content p.intro-text {
    font-size: 20px;
    line-height: 1.765;
    }
    .intro .banner-content .call-action{
    font-family: 'poppinsextralight';
    font-weight: 500;
    }
    .banner-btn a{
        background-color: #fe774a;
   /*// background-color:  #5a66d4; */
    box-shadow: 1.392px 9.903px 10px 0px rgba(66, 97, 234, 0.21);
    }
    .intro img{
    position: relative;
    left: 0;
    bottom: 0;
    animation: MoveUpDown 6s linear infinite;
    }
    .circle-1 {
    position: absolute;
    overflow: hidden;
    width: 67vw;
    height: 55vw;
    top: 0%;
    right: 0%;
    z-index: 0;
    }
    .circle-1::before {
    content: '';
    clear: both;
    transform: translate(20%, -20%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 80%;
    background: #edf1fa;
    }
    .circle-2 {
    position: absolute;
    overflow: hidden;
    width: 27vw;
    height: 45vw;
    top: -5%;
    left: -20%;
    z-index: 0;
    }
    .circle-2::before {
    content: '';
    clear: both;
    transform: translate(0%, -0%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: #edf1fa;
    }
    @keyframes MoveUpDown {
    0%, 100% {
    bottom: 0;
    }
    50% {
    bottom: 80px;
    }
    }
    /********************************************************************WHAT WE DO SECTION  ******************************************************/
    section.what-we-do .box-container{
    justify-content: space-evenly;
    }
     .box-container .box-content{
    box-shadow: 0px 0px 35px 0px rgba(164, 177, 235, 0.13);
    margin: 0px 10px;
    padding: 60px 30px;
    }
    .box-container .box-content:hover{
    transform: scale(1);
    transition:  700ms;
    }
 
     .box-content .box-heading{
    color: #213e6e;
    font-size: 20px;
    font-weight: 600;
    font-family: 'montserratmedium' ; 
    margin-bottom: 20px;
    }
    .box-content .box-info{
    line-height: 1.75;   
    }
    /********************************************************************LATEST WORK SECTION  ******************************************************/
    section.latest-work .latest__work__image{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../images/background-banner.jpg');
        height: 100%;
    }
   
    section.latest-work .latestwork-content{
    padding: 30px 0px 0px 0px;
    }
    section.latest-work .latestwork-content .work-title{
    font-size: 30px;
    }
    section.latest-work .latestwork-content ul li{
    margin-top: 25px;
    list-style: none;
    font-family: 'montserratmedium' ; 
    }
    section.latest-work .latestwork-content .check{
    height: 15px;
    }
    section.footer-section{
    background-color: #191d42;
    font-family: 'montserratmedium' ; 
    }
    section.footer-section p{
    font-size: 14px;
    margin:20px 0px;
    }
    section.footer-section .social-media i{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    }
    /*****************************************GET STARTED****************************************************************/
    section.get-started {
        position: relative;
    }
    section.get-started{
        padding: 15em 0;
    }

    /*****************************************PRACTICES****************************************************************/
    .practices-section .service-text {
        padding: 10px 50px;
    }
    .practices-section .service-text h3{
        font-family: 'poppinsmedium';
    }
    .practices-section .service-text p{
        color:  #525050;
        font-family: 'poppinslight';
        font-size: 16px;
    }
    .practices-section .muted-heading{
        font-size: 36px;
        font-weight: 400!important;
        color: #c2c2c2;
        font-family: 'montserratregular';
    }
   
    .practices-section .column-content ul li{
        font-size: 20px;
        list-style-type: none;
        margin-top: 20px;
    }
    .practices-section .service-item{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .practices-section .service-item .icon-box{
       background-color: #191d42;
       padding:5px 15px;
        
    }
    .practices-section .service-item i{
        font-size: 25px;
        color: #fff;
    }
    /*****************************************ABOUT****************************************************************/
    .about-background{
    background-image: url('../images/background-banner.jpg');
    height: 50vh;
    }
    .about-background .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    }
    .about-container .about-img{
    background: url('../images/about.jpg')center no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-bottom-left-radius: 80px;
    }
   
    .about-container .section{
    padding: 3.5em 0em;
    }
    .about-container h2.heading-text{
    font-family: 'montserratbold';
    font-size: 33px;
    }
    .about-container p{
    font-family: 'montserratmedium' ; 
    font-size: 16px;
    }
    /*****************************************MANAGEMENT****************************************************************/
    section.management .partner-about{
    padding:50px 0px;
    }
    section.management .partner-about h3.name{
    font-family: 'montserratbold';
    }
    section.management .partner-about p
    {
    font-family: 'poppinslight';
    }
    section.management .img-pattern{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
    .img-pattern .box {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    overflow: hidden; 
    }
    .img-pattern .box .shape {
    width: 100%;
    height: 100%;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    }
    .shape .image {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background-size: 100%;
    z-index: 2;
    }
    .shape .image.image-1{
    background: url('../images/krish.jpg') no-repeat center;
    }
    .shape .image.image-2{
    background: url('../images/manick.jpg') no-repeat center;
    }
    .shape .image.image-3{
    background: url('../images/sarathy.jpg') no-repeat center;
    }
    .shape .image.image-4{
    background: url('../images/rachel.jpg') no-repeat center;
    }
    section.management .social-media-links i{
    font-size:20px;
    margin-right: 30px;
    background-color: #191d42;
    padding: 6px 8px;
    }
    /*****************************************CAREERS PAGE****************************************************************/
    .title{
    font-size: 46px;
    text-align: center;
    }
    .positions-list ul {
    list-style: none;
    list-style-type: none;
    }
    .positions-list ul li{
    margin: 30px 0px;
    }
    .positions-list ul li a{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #222;
    }
    .positions-list ul li a .know-more-btn{
    border-radius: 10px;
    border: 0.5px solid black;
    padding: 0px 10px;
    font-size: 14px;
    }
    /*****************************************CAREERS SUBPAGE****************************************************************/
    .job-header{
    background-color: #2c39b6;
    padding: 45px 0px;
    }
    .description{
    padding-left: 30px;
    }
    .description ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .description ul li{
    line-height: 29px;
    margin-bottom: 24px;
    }
        /*****************************************RESPONSIVE****************************************************************/
    @media screen and (max-width: 480px) {
    .section{
    padding: 3.5em 0em;
    }
    .btn {
    width: 175px;
    font-size: 14px;
    padding: 0px 5px;
    line-height: 52px;
    height: 55px;
    }
    .section .section-title h2{
    font-size: 32px;
    }
    .section .section-title p{
    font-size: 18px; 
    }
    .circle-1 {
    width: 107vw;
    height: 65vw;
    }   
    .circle-1::before {
    transform: translate(0%, -0%);
    }
    .circle-2 {
    width: 107vw;
    height: 105vw;
    top: 30%;
    left: -80%;
    } 
    .circle-2::before {
    transform: translate(0%, -0%);
    }
    .intro .banner-content{
    padding: 40px 20px 40px 20px;
    }
    .intro  .banner-content  h1{
    font-size: 40px;
    }
    .intro .banner-content .call-action h3{
    font-size: 22px;
    }
    section.what-we-do .box-container{
    flex-direction: column;
    }
    .about-container .about-img{
    background-size: contain;
    height: 250px;
    }
    .about-container .section{
    padding: 1.5em 1em;
    }
    .about-container h2.heading-text{ 
    font-size: 20px;
    }
    }